* {
    color: white;
    font-family: "Times New Roman", serif

}

body {
    background: black;
    border: solid #ffff 2px;
    outline: solid #D87979 3px;
    text-align: center;
    margin: 10% 31%;
    padding-bottom: 10px;
    overflow-scrolling: auto;
    width: 680px;
    height: 490px;
    position: relative
}

#logo1 {
    position: absolute;
    left: -44%;
    top: -27%
}

h1 {
    padding-top: 20px;
    margin-left: 35%;
    font-size: 25px
}

h2 {
    padding-top: 10px;
    margin-left: 35%;
    font-size: 30px;
    text-shadow: -2px 2px #D87979
}

h3 {
    border: solid #ffff 2px;
    outline: solid #D87979 3px;
    text-align: center;
    margin: 0 20px;
    padding: 10px 20px;
    display: inline-block
}

#p1 {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 35%;
    font-size: 20px

}

#p2 {
    padding-top: 40px;
    font-weight: 600

}

.p1 {
    margin: 0

}

#logo2, #logo3 {
    position: absolute
}

#logo4 {
    position: relative
}
